<div align="centre" class="page-header">
    <h1>Libros</h1>
</div>
<div align="centre" class="row">
    <div align="centre" class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>

                <th>ISBN</th>
                <th>Título</th>
                <th>Precio</th>
            </tr>
            </thead>
            {{#each model as |book|}}
            <tbody>
                <td>{{book.isbn}}</td>
                <td>{{ book.titulo}}</td>
                <td>{{book.precio}}</td>

                <br>
            </tbody>
             {{/each}}
            <br>
            <tbody>

            </tbody>
        </table>
    </div>

</div>